body {
  background-color: black;
  color:white;
  
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  
  /* color: transparent;  
  text-shadow: 0 0 0 red; */
  
}

.modal { 
background-color: white;
 color: black;
  width: 200px;
  height: 100px;
  /* position: absolute; */
  margin: auto; 
  margin-top: 150px;
  text-align: center;
  padding-top: 50px;
}
.modal:hover{ cursor: pointer;}


#pacman {
  width: 1px;
  height: 1px;
  border: 12px solid rgb(248, 233, 28);
  border-right-color: transparent;
  border-radius: 50%;
}

.ArrowUp {
  transform: rotate(270deg);
}
.ArrowDown {
  transform: rotate(90deg);
}
.ArrowLeft {
  transform: rotate(180deg);
}
.ArrowRight {
  transform: rotate(0deg);
}